*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: fantasy,'Work Sans', sans-serif;
	
}

/**----BOOTSTRAP-----*/

.center{
	max-width: 1368px;
	padding: 0 2%;
	margin: 0 auto;
}

.relative{
	position: relative !important;
}

.left{
	float:left;
}

.right{
	float: right;
}

.clear{
	clear:both;
}

.p-2{
	padding: 0.75rem!important;
}

.p-4{
	padding: 1.5rem!important;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

/**-----ESTILIZAÇÃO SITE------*/

/*HEADER*/
header{
    background: #7ED957;
}

/*BODY*/


.main {
	background-color: black;
}

.content{
    /* background: black; */
	/* min-height: 89vh; */
	justify-content: center;
	color:white;

}

.content .year{
	padding-right: 15px;
}
.content .imdb{
	padding-left: 15px;
}

/*FOOTER*/
footer{
	background: #7ED957;
}

footer .created{
	position:relative;
	display:grid;
}