*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: fantasy,'Work Sans', sans-serif;
}

/**----BOOTSTRAP-----*/

.center{
	max-width: 1368px;
	padding: 0 2%;
	margin: 0 auto;
}

.relative{
	position: relative !important;
}

.left{
	float:left;
}

.right{
	float: right;
}

.clear{
	clear:both;
}

.p-2{
	padding: 0.75rem!important;
}

.p-4{
	padding: 1.5rem!important;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

/**-----ESTILIZAÇÃO SITE------*/

/*HEADER*/
header{
    background: #7ED957;
}

/*BODY*/

.content{
    background: black;
	min-height: 89vh;
}

.content .movie-folder{
	padding-top: 20%;
	padding-left:10%;
}

.content form{
	padding-top: 25%;
	padding-left: 25%;	
}

.content select{
	border-radius: 10px;
	font-size: 20px;
	color: black;
	text-align: center;

}

.content input{
	border-radius: 10px;
	font-size: 25px;
	background-color: #008037;
}

.content input:hover{
	background-color:#7ED957;
	cursor: pointer;
	font-size: 35px;
}

.chooser{
	color: #008037;
	font-size: 25px;
}



footer{
	background: #7ED957;
}

footer .created{
	position:relative;
	display:grid;
}