<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/style/style_searching.css">
        <link href="../static/style/all.css" rel="stylesheet"><!--load all styles -->
    
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <title>Movie Now</title>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div id="Logo" class="col-12">
                        <img class="movie-logo" src="../static/img/movie_now.png" width="60px" />
                    </div>
                </div>                
            </div>
        </header>
        <section class="main">
            <div class="container">
                <div class="row content title p-2">
                    <h2>{{title}}</h2>
                </div>
                <div class="row content folder">
                    <img src={{folder}}> 
                </div>
                <div class="row content p-4">
                    <div class="year">
                        Year: {{year}}
                    </div>
                    <div class="imdb">
                        IMDb Rate: {{imdb}}
                    </div> 
                </div>
            </div>
        </section>
        <footer>
            <div class="created">
                <h6 class="center">Created by <a target="_blank" href="https://github.com/pedrosouzax">Pedro Souza</a></h6>
            </div>
        </footer>
    </body>
</html>